		.header{
			width: 100%;
			height: 90px;;
			position: relative;
		} 
		.header h3{
			color: #BF6A54;
			font-family: '微软雅黑';
			text-shadow: 5px  5px blur #A1A37A;
			height: 34px;
			position: absolute;
			left: 5%;
		}
		.header span{
			font-size:15px;
			color: #A1A37A;
			height: 20px;
			position: absolute;
			left: 5%;
			top: 54px;
		} 
		.con{
			width: 100%;
			height: 480px;
			background-image: url(../img/banner4.png);
			background-repeat: no-repeat;
			background-position: 0px -250px;
			background-size:cover;
			position: relative;
			margin-bottom: 50px;
			left: 0;
			top: 0;
		}
		.con_left{
			color: #A1A37A;
			width: 58%;
			height: 80px;
			position: absolute;
			left: 0;
			top: 120px;
			font-size: 16px;
			overflow: hidden;
		}
		.con_left1{
			width:5%;
			position: absolute;
			left: 62%;
			top: 10px;
			animation:move1 1s linear;
			animation-fill-mode: forwards;
		}
		@keyframes move1
			{
			from{left:-1%;top: 10px;}
			to{left:62%;top: 10px;}

			} 
		
		.con_left2{
			width: 5%;
			position: absolute;
			left: 13%;
			top: 120px;
			animation:move2 1.2s linear;
			animation-fill-mode: forwards;
		}
		@keyframes move2
			{
			0%{left:-5%;top: 10px;}
			17%{left:-5%;top: 10px;}
			100%{left:65%;top: 10px;}
			} 
		.con_left3{
			width: 10%;
			position: absolute;
			left: 20%;
			top: 120px;
			animation:move3 1.4s linear;
			animation-fill-mode: forwards;
		}
		@keyframes move3
			{
			0%{left:-5%;top: 10px;}
			28%{left:-5%;top: 10px;}
			100%{left:68%;top: 10px;}
			} 
		.con_left4{
			width: 10%;
			position: absolute;
			left: 25%;
			top: 120px;
			animation:move4 1.6s linear;
			animation-fill-mode: forwards;
		}
		@keyframes move4
			{
			0%{left:-5%;top: 10px;}
			37%{left:-5%;top: 10px;}
			100%{left:71%;top: 10px;}
			} 
		.con_left5{
			width: 10%;
			position: absolute;
			left: 30%;
			top: 120px;
			animation:move5 1.8s linear;
			animation-fill-mode: forwards;
		}
		@keyframes move5
			{
			0%{left:-5%;top: 10px;}
			44%{left:-5%;top: 10px;}
			100%{left:74%;top: 10px;}
			} 
		.con_left6{
			width: 10%;
			position: absolute;
			left: 35%;
			top: 120px;
			animation:move6 2s linear;
			animation-fill-mode: forwards;
		}
		@keyframes move6
			{
			0%{left:-5%;top: 10px;}
			50%{left:-5%;top: 10px;}
			100%{left:77%;top: 10px;}
			} 
		.con_left7{
			width: 10%;
			position: absolute;
			left: 40%;
			top: 120px;
			animation:move7 2.2s linear;
			animation-fill-mode: forwards;
		}
		@keyframes move7
			{
			0%{left:-5%;top: 10px;}
			55%{left:-5%;top: 10px;}
			100%{left:80%;top: 10px;}
			} 
		.con_left8{
			width: 6%;
			position: absolute;
			left: 60%;
			top: 45px;
			animation:move8 2.4s linear;
			animation-fill-mode: forwards;
		}
		@keyframes move8
			{
			0%{left:-5%;top: 45px;}
			58%{left:-5%;top: 45px;}
			100%{left:57%;top: 45px;}
			} 
		.con_left9{
			width: 6%;
			position: absolute;
			animation:move9 2.6s linear;
			animation-fill-mode: forwards;
		}
		@keyframes move9
			{
			0%{left:-5%;top: 45px;}
			61%{left:-5%;top: 45px;}
			100%{left:60%;top: 45px;}
			} 
		.con_left10{
			width: 6%;
			position: absolute;
			animation:move10 2.8s linear;
			animation-fill-mode: forwards;
		}
		@keyframes move10
			{
			0%{left:-5%;top: 45px;}
			64%{left:-5%;top: 45px;}
			100%{left:63%;top: 45px;}
			} 
		.con_left11{
			width: 6%;
			position: absolute;
			animation:move11 3s linear;
			animation-fill-mode: forwards;
		}
		@keyframes move11
			{
			0%{left:-5%;top: 45px;}
			66%{left:-5%;top: 45px;}
			100%{left:66%;top: 45px;}
			} 
		.con_left12{
			width: 6%;
			position: absolute;
			animation:move12 3.2s linear;
			animation-fill-mode: forwards;
		}
		@keyframes move12
			{
			0%{left:-5%;top: 45px;}
			69%{left:-5%;top: 45px;}
			100%{left:69%;top: 45px;}
			} 
		.con_left13{
			width: 6%;
			position: absolute;
			animation:move13 3.4s linear;
			animation-fill-mode: forwards;
		}
		@keyframes move13
			{
			0%{left:-5%;top: 45px;}
			70%{left:-5%;top: 45px;}
			100%{left:72%;top: 45px;}
			}
		.con_left14{
			width: 6%;
			position: absolute;
			animation:move14 3.6s linear;
			animation-fill-mode: forwards;
		}
		@keyframes move14
			{
			0%{left:-5%;top: 45px;}
			72%{left:-5%;top: 45px;}
			100%{left:75%;top: 45px;}
			}
		.con_left15{
			width: 6%;
			position: absolute;
			animation:move15 3.8s linear;
			animation-fill-mode: forwards;
		}
		@keyframes move15
			{
			0%{left:-5%;top: 45px;}
			74%{left:-5%;top: 45px;}
			100%{left:78%;top: 45px;}
			}
		.con_left16{
			width: 6%;
			position: absolute;
			animation:move16 4s linear;
			animation-fill-mode: forwards;
		}
		@keyframes move16
			{
			0%{left:-5%;top: 45px;}
			75%{left:-5%;top: 45px;}
			100%{left:81%;top: 45px;}
			}
		.con_left17{
			width: 6%;
			position: absolute;
			animation:move17 4.5s linear;
			animation-fill-mode: forwards;
		}
		@keyframes move17
			{
			0%{left:-5%;top: 45px;}
			80%{left:-5%;top: 45px;}
			100%{left:84%;top: 45px;}
			}
		.con_left18{
			width: 6%;
			position: absolute;
			animation:move18 5s linear;
			animation-fill-mode: forwards;
		}
		@keyframes move18
			{
			0%{left:-5%;top: 45px;}
			81%{left:-5%;top: 45px;}
			100%{left:87%;top: 45px;}
			}
		a{
			color: #BF6A54;
			}
		a:hover{
			color: #833E34 ;
		}
		.con_right{
			/*background-color:#FDF4F6;*/
			width: 350px;
			height: 400px;
	    border: 3px solid #fff;
			border-radius: 10px;
			position: absolute;
			left: 59%;
			top: 44px;
			box-shadow: 0 0 30px #F5FDCB;
		}
		.headimg{
			width: 22%;
			height: 18%;
			border-radius: 50%;
			overflow: hidden;
			position: absolute;
			left: 38%;
			top: 6%;
		}
		.headimg2{
			width: 100%;
			height: 100%;
			border-radius: 50%;
			transform: scale(0.5);
		}
		#h_img{
			width: 100%;
			height: 100%;
			border-radius: 50%;
			transform: scale(2);
		}
		.user{
			width: 15%;
			position: absolute;
			left: 10%;
			top: 125px;
		}
		#username{
			width: 54%;
			position: absolute;
			left: 26%;
			top: 120px;
		}
		#user #usererror{
			position: absolute;
			left: 74%;
			top: 130px;
			color: red;
			display: none;
		}
		.passwd{
			width: 15%;
			position: absolute;
			left: 10%;
			top: 175px;
		}
		#passwd{
			width: 54%;
			position: absolute;
			left: 26%;
			top: 170px;
		}
		#pwd #passwderror{
			position: absolute;
			left: 74%;
			top: 180px;
			color: red;
			display: none;
		}
		.coder{
			width: 20%;
			position: absolute;
			left: 6%;
			top: 225px;
		}
		#coder{
			width: 36%;
			position: absolute;
			left: 26%;
			top: 220px; 
		}
		#coderdiv #codererror{
			position: absolute;
			left: 56%;
			top: 230px; 
			color: red;
			display: none;
		}
		#coderimg{
			position: absolute;
			left: 64%;
			top: 221px;
		} 
		#remember{
			position: absolute;
			left: 60%;
			top: 268px;
		}
		#rememberdiv span{
			width: 20%;
			font-size: 12px;
			position: absolute;
			left: 65%;
			top: 270px;
		}

		#loginbtn{
			color: white;
			width: 55%;
			position: absolute;
			left: 22%;
			top: 300px;
			background-color: #BACCC3;
			opacity: 0.8;
			font-weight: bold;
		}
		#loginbtn:hover{
			background-color: #CB836E;
		}
		.re{
			width: 30%;
			position: absolute;
			left: 50%;
			top: 350px;
		}
		#reloginbtn{
			width: 30%;
			position: absolute;
			left: 76%;
			top: 350px;

		}